html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 13px;
  background: #273036;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6fbac7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.topbtn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
}
.topbtn:hover {
  color: black;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #b4cbf0;
}
.jumbotron h1,
p {
  text-transform: uppercase;
  display: block;
}
.jumbotron h1 {
  animation: text 3s infinite;
}
@keyframes text {
  from {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
.logo {
  width: 100px;
  height: 80px;
  position: relative;
}
.logo img {
  max-width: 100%;
}
.logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  outline: 3px dashed #ff7a00;
  outline-offset: 3px;
  border-radius: 50%;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.display-4 {
  margin-top: 75px;
}
.lead {
  margin-top: 10px;
}
#about {
  background-color: #273036;
  color: #b4cbf0;
}
.nav-link {
  color: #000000;
  background-color: #677c9e;
}
.nav-link:hover {
  color: #1cceed;
  background-color: #95a69a;
}
#projects {
  color: #273036;
}
#contact {
  background-color: plum;
  color: #a0c0f3;
}
.ciw {
  background-color: #573c56;
  margin: 20px auto 0;
  padding: 15px;
  border-radius: 20px;
}
#name {
  border-radius: 35px;
}
#email {
  border-radius: 35px;
}
#message {
  border-radius: 20px;
}

/*.btn {
  background-color: #b4cbf0;
  border: 1px solid #606d83;
  color: black;
}*/
.btn:hover {
  background-color: #c2d9ff;
  color: #000000;
  border: 2px solid #c2d9ff;
}
.card-body {
  background-color: #9ba0a8;
}
.card {
  box-shadow: 5px 5px 5px;
}
.form-control {
  border: 2px solid #9ba0a8;
  color: black;
}
section {
  padding-top: 5rem;
}
